.toolbarWrapper {
  box-sizing: border-box;
  height: 10%;
  display: flex;
  padding: 5px;
  align-items: center;
}

.controls {
  display: flex;
  margin: 0.5rem;
}

.blockTypes {
  display: flex;
}
