/* .wrap {
  width: 50%;
  margin: 5rem auto;
  height: 15rem;
  border: 1px solid black;
  padding: 3rem;
  box-shadow: 1px 2px 10px rgb(10, 10, 10);
  text-align: center;
  border-radius: 3px;
}

textarea {
  width: 99%;
  height: 90%;
  border-radius: 3px;
} */
